[client]
user=dbadmin
password=SecurePass456!
host=localhost
port=3306

[mysqld]
datadir=/var/lib/mysql
max_connections=200
bind-address=127.0.0.1

[backup]
backup_user=backup_admin
backup_pass=BackupPass789!
